/*------------------------------------------------------------------

Project:	Jober Desk
Version:	1.0
Last change:	7/08/17
Primary use:	Online Job Portal Theme
-------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,600,700');
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
background:#ffffff;
font-family: 'Montserrat', sans-serif;
font-size:15px;
color:#636e7b;
}
section{
padding:60px 0px 60px 0px;
}
h1, h2, h3, h4, h5, h6 {
    color:#242c36;
    margin: 0 0 15px 0;
    letter-spacing: 1px;
    font-weight: bold;
}
.dark{
background:#f4f5f7;
}
.form-control {
    border: 1px solid #ccc;
    border-radius: 2px;
    height: 45px;
    margin-bottom: 10px;
    box-shadow: none;
    font-size: 14px;
}
.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #da0833;
    border-color: #da0833;
    text-transform: uppercase;
    border-radius: 2px;
    box-shadow: none;
    padding: 10px 25px;
}
.form-control::-moz-placeholder{color:#8796a9;opacity:1}
.form-control:-ms-input-placeholder{color:#8796a9}
.form-control::-webkit-input-placeholder{color:#8796a9}
/*---------------Navigation Start-----------------*/
nav.navbar.bootsnav ul.nav > li > a {
    color: #6b797c;
	font-weight:400;
	font-size:14.2px;
	font-family: 'Montserrat', sans-serif;
    background-color: transparent !important;
}
nav.navbar.bootsnav ul.nav > li > a:hover{
color:#da0833;
}
nav.navbar.bootsnav ul.nav > li.active> a{
color:#da0833;
}
@media (min-width: 1024px){
nav.navbar li.dropdown ul.dropdown-menu {
border-top: solid 5px #da0833 !important;
}
}
/*-------------------Banner Start-----------------------*/
.main-banner{
background-size:cover !important;
background-position:center !important;
padding:2% 0;
position:relative;
text-align:center;
color:#ffffff;
margin:0;
}
.main-banner .caption{
position:relative;
}
.main-banner h2{
color:#ffffff;
font-weight:400;
display: block;
 margin-bottom: 25px;
}
.main-banner:before{
content:"";
display:block;
top:0;
bottom:0;
left:0;
right:0;
position:absolute;
background:rgba(12,20,25,0.3);
}
fieldset {
margin-top: 52px;
background: rgba(255,255,255,0.3);
padding: 15px 15px 5px 15px;
}
fieldset .no-pad{
margin:0;
padding:0;
}
.main-banner fieldset select.selectpicker, .main-banner fieldset .form-control, .main-banner fieldset .seub-btn {
width: 100%;
color: #6b797c;
padding: 19px 10px;
border: none;
border-radius: 0;
height: auto;
line-height: 1.5;
font-size: 16px;
height:60px;
}
.main-banner fieldset select.selectpicker:focus, .main-banner fieldset .form-control:focus, .main-banner fieldset .seub-btn:focus{
outline:none;
}
.main-banner fieldset .border-right{
border-right:1px solid rgba(107,121,124,0.3) !important;
}
.main-banner .btn.seub-btn{
background:#da0833 ;
color:#ffffff;
text-transform:uppercase;
font-size:18px;
text-shadow:none;
line-height: 1.2;
}

/*--------------------Default Page Header-----------------------*/
.jumbotron{
background:url(../img/background.jpg);
background-size:cover;
background-position:center;
padding:13% 0;
position:relative;
text-align:center;
color:#ffffff;
margin:0;
}
.jumbotron:before{
content:"";
display:block;
top:0;
bottom:0;
left:0;
right:0;
position:absolute;
background:rgba(12,20,25,0.5);
}
.user-img{
max-width:220px;
position:relative;
margin:0 auto;
}
.jumbotron img{
display:table;
max-width:200px;
border-radius:50%;
margin:0 auto;
position:relative;
border:6px solid rgba(255,255,255,0.8);
}
.caption.bott{
margin-bottom:80px;
}
.notify {
position: relative;
margin-top: -5px;
}
.notify .ring {
position: absolute;
top: -20px;
left: 50px;
height: 25px;
width: 25px;
z-index: 10;
border: 5px solid #da0833;
border-radius: 100%;
-moz-animation: ring 1s ease-in;
-moz-animation-iteration-count: infinite;
-o-animation: ring 1s ease-in;
-o-animation-iteration-count: infinite;
-webkit-animation: ring 1s ease-in;
-webkit-animation-iteration-count: infinite;
animation-iteration-count: infinite;
}
.notify .ring-point {
width: 6px;
height: 6px;
-webkit-border-radius: 30px;
-moz-border-radius: 30px;
border-radius: 100%;
background-color: #da0833;
position: absolute;
left: 59px;
top: -10px;
}
@-moz-keyframes ring{0%{-moz-transform:scale(0);opacity:0}25%{-moz-transform:scale(.1);opacity:.1}50%{-moz-transform:scale(.5);opacity:.3}75%{-moz-transform:scale(.8);opacity:.5}100%{-moz-transform:scale(1);opacity:0}}@-webkit-keyframes ring{0%{-webkit-transform:scale(0);opacity:0}25%{-webkit-transform:scale(.1);opacity:.1}50%{-webkit-transform:scale(.5);opacity:.3}75%{-webkit-transform:scale(.8);opacity:.5}100%{-webkit-transform:scale(1);opacity:0}}
.jumbotron h4{
font-size:28px;
margin-top:12px;
margin-bottom:10px;
position:relative;
color:#ffffff;
}
.jumbotron p{
font-size:17px;
position:relative;
}
.jumbotron p span{
font-size:14px;
color:#13ad00;
}
.basic-information{
    position: relative;
    z-index: 1;
    background-color: #fff;
    padding: 30px 30px 20px;
    -webkit-box-shadow: 0 5px 25px 0 rgba(0,0,0,.07);
    box-shadow: 0 5px 25px 0 rgba(0,0,0,.07);
	border: 1px solid #eaecf1;
	display: table;
    width: 100%;
}

.profile-detail img{
border:4px solid rgba(107,121,124,0.2);
}
.basic-information h2{
margin:0;
margin-bottom:10px;
color:#404b4d;
}
.basic-information h2 span{
color:#da0833;
font-size:15.5px;
display:block;
}

.basic-information p{
font-size:17px;
}
.information{
margin:0;
padding:0;
}

.information li{
display:block;
padding:10px 0;
font-size:15.5;
list-style:none;
border-bottom:1px solid rgba(107,121,124,0.1);
}
.information li span{
display: inline-block;
font-weight:bold;
width:150px;
}
.social{
margin:0;
padding:50px 0;
display:inline-block;
width:100%;
}
.social li{
list-style:none;
float:left;
margin-bottom:7px;
}
.social li a{
font-size:15px;
color:#6b797c;
}
.social li:hover a, .social li:focus a{
text-decoration:none;
}
a.facebook {
    border: 1px solid #295396;
    width: 90%;
    display: inline-block;
   padding: 4px 5px;
    border-radius: 50px;
}
a.google {
    border: 1px solid #d6201f;
    width: 90%;
    display: inline-block;
    padding: 4px 5px;
    border-radius: 50px;
}
a.twitter {
    border: 1px solid #1da0f2;
    width: 90%;
    display: inline-block;
    padding: 4px 5px;
    border-radius: 50px;
}
a.linkedin {
    border: 1px solid #0077b5;
    width: 90%;
    display: inline-block;
    padding: 4px 5px;
    border-radius: 50px;
}
a.instagram {
    border: 1px solid #d3368c;
    width: 90%;
    display: inline-block;
    padding: 4px 5px;
    border-radius: 50px;
}
.social li i {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    color: #ffffff;
    line-height: 42px;
    text-align: center;
	margin-right:7px;
}

.social li .facebook i{
background:#295396;
}
.social li .google i{
background:#d6201f;
}
.social li .twitter i{
background:#1da0f2;
}
.social li .linkedin i{
background:#0077b5;
}
.social li .instagram i{
background:#d3368c;;
}
.panel {
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
box-shadow: none;
border: none;
}
.panel-default>.panel-heading {
background: #f4f5f7;
box-shadow: none;
border: none;
color: #505a5d;
}
.basic-information p {
font-size: 16px;
line-height: 1.9;
}
.service-tag {
background-color: #da0833;
border-radius: 0 2px 2px 0;
color: #fff;
display: inline-block;
font-size: 11px;
font-weight: 700;
line-height: 1.2727272727;
margin: 2px 4px 2px 10px;
padding: 3px 7px;
position: relative;
text-transform: uppercase;
}
.service-tag:after {
background-color: #fff;
border-radius: 50%;
content: "";
height: 4px;
position: absolute;
top: 8px;
left: -2px;
width: 4px;
}
.service-tag:before {
border-top: 10px solid transparent;
border-right: 8px solid #da0833;
border-bottom: 10px solid transparent;
content: "";
height: 0;
position: absolute;
top: 0;
left: -8px;
width: 0;
}
.panel-body ul{
margin:0;
padding:0;
margin-top:20px;
}
.panel-body ul li{
list-style:none;
line-height:1.7;
padding: 0 0 6px 10px;
margin: 10px 0;
margin-left: 16px;
}
.panel-body ul li:before{
display: inline-block;
font: normal normal normal 14px/1 FontAwesome;
font-size: inherit;
text-rendering: auto;
-webkit-font-smoothing: antialiased;
content: "\f067";
color:#da0833;
padding: 8px 12px 8px 5px;
margin-left: -31px;
}

/*----------------------------Features Style-------------------------*/
.features-content {
border: 1px solid #f4f5f7;
padding: 20px 15px;
text-align: center;
border-radius: 5px;
margin-bottom:30px;
box-shadow: 0px 0px 10px 0px rgba(107,121,124,0.2);
}
.features-content h3{
font-weight:400;
color:#475052;
font-size:18px;
text-transform:uppercase;
margin-bottom:0;
}

.features-content p{
font-weight:300;
color:#6b797c;
line-height:1.8;
font-size:14px;
}

.features-content span{
font-size:45px;
margin-bottom:25px;
color:#da0833;
}

/*--------------------Style for Browse Job----------------------*/
.jobs .row{
margin:0;
}
.heading{
text-align:center;
margin-bottom:30px;
}
.heading h2{
font-weight:400;
margin-bottom:10px;
}
.heading p{
font-weight:300;
font-size:17px;
}
.companies{
margin-top:30px;
}
.company-logo{
display: table;
width: 100%;
}
.company-logo img{
margin:0 auto;
max-width:100px
}
.company-content{
}
.company-content h3{
font-size:25px;
font-weight:400;
margin-bottom:10px;
margin-top:7px;
}
.company-content h3 span {
font-size: 13px;
padding: 2px 20px;
float: right;
text-align: center;
color: #ffffff;
margin-top: 5px;
display: inline-block;
line-height: 1.7;
border-radius: 2px;
}
.company-content p span{
font-size:15px;
margin-right:20px;
margin-bottom:10px;
}
.company-content p span i{
font-size:15px;
margin-right:5px;
}
.company-list {
background: #ffffff;
margin: 12px 0;
padding: 12px 0 12px 0;
border:1px solid #f4f5f7;
-webkit-box-shadow:0px 0px 10px 0px rgba(107,121,124,0.2);
box-shadow:0px 0px 10px 0px rgba(107,121,124,0.2);
}
.company-content h3 .full-time{
background:#1ec715;
}
.company-content h3 .freelance{
background:#01b5ff;
}
.company-content h3 .internship{
background:#cc68f3;
}
.company-content h3 .part-time{
background:#ff8f3e;
}
.brows-btn{
background:#da0833 ;
color:#ffffff;
text-transform:uppercase;
font-size:16px;
display:table;
text-shadow:none;
line-height: 1.2;
margin:20px auto;
font-weight:400;
padding:14px 25px;
}
/*--------------------Style for Job Filter----------------------*/
.jobs{
padding:20px 0;
}
.jobs .row{
margin:0;
}
.heading{
text-align:center;
margin-bottom:30px;
}
.heading h2{
font-weight:400;
margin-bottom:10px;
}
.heading p{
font-weight:300;
font-size:20px;
}
.companies{
margin-top:30px;
}
.company-logo{
display: table;
width: 100%;
}
.company-logo img{
margin:0 auto;
max-width:100px
}
.company-content{
}
.company-content h3{
font-size:25px;
font-weight:400;
margin-bottom:10px;
margin-top:7px;
}
.company-content h3 span {
font-size: 13px;
padding: 2px 20px;
float: right;
text-align: center;
color: #ffffff;
margin-top: 5px;
display: inline-block;
line-height: 1.7;
border-radius: 2px;
}
.company-content p span{
font-size:15px;
margin-right:20px;
margin-bottom:10px;
}
.company-content p span i{
font-size:15px;
margin-right:5px;
}
.company-list {
background: #ffffff;
margin: 12px 0;
padding: 12px 0 12px 0;
border:1px solid rgba(107,121,124,0.3);
-webkit-box-shadow: 0 5px 25px 0 rgba(0,0,0,.07);
box-shadow: 0 5px 25px 0 rgba(0,0,0,.07);
}

.brows-btn{
background:#da0833;
color:#ffffff;
text-transform:uppercase;
font-size:16px;
display:table;
text-shadow:none;
line-height: 1.2;
margin:20px auto;
font-weight:400;
padding:14px 25px;
}
.btn.view-job{
border:none;
background:#007ffe;
border-radius:1px;
padding:1em 2em;
display:block;
margin-top:25px;
width:100%;
color:#ffffff;
}
.top-pad{
padding-top:3em;
}
.filter-list{
margin:0;
padding:0;
}
.filter-list li{
margin:0;
padding:0;
font-weight:300;
list-style:none;
padding-left:10px;
display:inline-block;
}
.filter-list label{
font-weight:normal;
margin:0 5px;
}
.checkbox-custom, .radio-custom {
opacity: 0;
position: absolute;
}
.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {
display: inline-block;
vertical-align: middle;
margin: 5px;
cursor: pointerer;
}
.checkbox-custom-label, .radio-custom-label {
position: relative;
}
.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before {
content: '';
background: #fff;
display: inline-block;
vertical-align: middle;
width: 20px;
height: 20px;
padding: 2px;
border-radius:50%;
margin-right: 10px;
text-align: center;
}
.checkbox-custom:checked + .checkbox-custom-label:before {
background: #ef193c;
box-shadow: inset 0px 0px 0px 4px #fff;
}
.radio-custom + .radio-custom-label:before {
border-radius: 50%;
}
.radio-custom:checked + .radio-custom-label:before {
background: #ef193c;
box-shadow: inset 0px 0px 0px 4px #fff;
}
.company-brands label{
font-weight:normal;
color:#828f99;
font-size:15px;
}
.checkbox-custom:focus + .checkbox-custom-label, .radio-custom:focus + .radio-custom-label {
  outline:none /* focus style */
}
.company-brands input[type='checkbox']:focus{
outline:none;
}
.company-brands label:focus{
outline:none;
}
.checkbox-custom + .part-time.checkbox-custom-label:before, .radio-custom + .part-time.radio-custom-label:before {
border:2px solid #0080ff;
}
.checkbox-custom:checked + .part-time.checkbox-custom-label:before {
background: #0080ff;
}
.checkbox-custom + .full-time.checkbox-custom-label:before, .radio-custom + .full-time.radio-custom-label:before {
border:2px solid #40af37;
}
.checkbox-custom:checked + .full-time.checkbox-custom-label:before {
background: #40af37;
}
.checkbox-custom + .freelancing.checkbox-custom-label:before, .radio-custom + .freelancing.radio-custom-label:before {
border:2px solid #0080ff;
}
.checkbox-custom:checked + .freelancing.checkbox-custom-label:before {
background: #0080ff;
}
.checkbox-custom + .internship.checkbox-custom-label:before, .radio-custom + .internship.radio-custom-label:before {
border:2px solid #ef183c;
}
.checkbox-custom:checked + .internship.checkbox-custom-label:before {
background: #ef183c;
}
/*-----------------------counter Section start-------------------------*/
.counter{
background:#da0833;
padding:60px 0;
}

.counter-text{
text-align:center;
color:#ffffff;
}

.counter-text h3{
color:#ffffff;
font-weight:400;
font-size:32px;
margin-bottom:5px;
}

.counter-text p{
color:#ffffff;
font-weight:400;
font-size:17px;
text-transform:uppercase;
margin-bottom:0;
}

.counter-text span{
font-size:35px;
color:rgba(255,255,255,0.7);
margin-bottom:15px;
}

/*--------------------Testimonial Start------------------------*/
.testimonials{
background:#f4f5f7;
padding:60px 0;
}
.testimonial{
    text-align: center;
    margin: 50px 10px 0;

}
.testimonial .pic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.3);
    display: inline-block;
    margin-top: -50px;
    overflow: hidden;
    box-shadow:0 2px 6px rgba(0, 0, 0, 0.15);
}
.testimonial .pic img{
    width: 100%;
    height: auto;
}
.testimonial .description {
    font-size: 22px;
    line-height: 34px;
    margin: 10px 0 20px;
    font-family: initial;
    font-style: italic;
}
.testimonial .testimonial-title{
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    color: #da0833;
    text-transform: uppercase;
}
.testimonial .post{
    display: block;
    font-size: 13px;
    color: #777;
    text-transform: capitalize;
}

.owl-theme .owl-controls{
    margin-top:10px;
}
.owl-theme .owl-controls .owl-pagination{
    width: 140px;
    padding: 10px;
    margin: 0 auto;
    line-height: 13px;
}
.owl-theme .owl-controls .owl-page span{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid #6b797c;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
    border: 4px solid #da0833;
}
/*------------------package section start---------------*/
.package-box {
    background: #ffffff;
	border-radius:6px 6px 0px 0px;
	overflow:hidden;
	margin-bottom:30px;
	text-align:center;
    padding:0px 10px 30px 10px;
    border: 1px solid #f4f5f7;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(107,121,124,0.2);
    box-shadow: 0px 0px 10px 0px rgba(107,121,124,0.2);
}
.package-header {
    padding: 20px 0;
}
.package-header i {
    font-size: 3em;

}
.package-header h3 {
    text-transform: uppercase;
    color: #242c36;
    font-size: 20px;
    font-weight: 600;
}
.package-info ul {
    padding: 0 15px;
    margin: 0;
}
.package-info ul li {
    padding: 10px 0;
	list-style:none;
    border-bottom: 1px solid #f4f5f7;
}
.package-price {
    padding: 20px 0;
}
.package-price h2{
color: #242c36;
font-weight: 600;
}
.package-price h2 sup, .package-price h2 sub {
    font-size: 20px;
    opacity: 0.7;
}
button.btn.btn-package {
    background: #da0833;
    color: #ffffff;
    text-transform: uppercase;
    padding: 10px 32px;
    border-radius: 50px;
}
button.btn.btn-package:hover, button.btn.btn-package:focus{
background:#242c36;
}
/*---------------------Membrcard---------------*/
.card-widget {
    background-color: #fff;
    border-color: #d7dfe3;
    border:none;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(107,121,124,0.2);
    box-shadow: 0px 0px 10px 0px rgba(107,121,124,0.2);
    border-radius: 6px;
	text-align:center;
    overflow: hidden;
    transition: .7s;
    margin-bottom: 30px;
}
.user-card .u-img {
    margin-bottom: -42px;
    height: 150px;
}
.user-card .u-content {
    padding: 0 1.25rem 1.25rem;
}
.user-card .avatar {
    margin: 0 auto 2rem auto;
    position: relative;
    display: block;
    max-width: 85px;
}
.avatar.box-80 i {
    position: absolute;
    bottom: -6px;
    left: 37px;
    color: #07b107;
}
.u-content h5 {
    font-size: 18px;
	color:#242c36;
    margin-bottom: 5px;
}
.text-muted {
    margin-bottom: 5px;
}
.user-social-profile {
    padding:5px 0 25px 0;
}
.user-social-profile ul {
    padding: 0;
    margin: 0;
}
.user-social-profile ul li {
    list-style: none;
    display: inline-block;
    padding: 0 4px;
}
.user-social-profile ul li a i {
    background: rgba(99, 110, 123,0.1);
    width: 42px;
    height: 42px;
    line-height: 42px;
    font-size: 17px;
    border-radius: 50%;
    color: #636e7b;
}
.user-social-profile ul li a i:hover, .user-social-profile ul li a i:focus{
background:#da0833;
color:#ffffff;
}
/*----------------Newsletter Style----------------*/
.newsletter {
    text-align: center;
}
.newsletter h2 {
    font-weight: 500;
	margin-bottom: 5px;
}
.newsletter p {
    font-size: 23px;
    font-family: initial;
    font-style: italic;
}
.newsletter input.form-control {
    border: 1px solid #e3e6ea;
    box-shadow: none;
}
.newsletter button.btn.btn-default {
    background:#da0833;
	text-transform:uppercase;
    border-color:#da0833;
    color: #ffffff;
}
/*------login style---*/
section.login-wrapper {
    text-align: center;
}
section.login-wrapper p a {
    color: #da0833;
}
section.login-wrapper p{
margin-top:20px;
}
section.login-wrapper label, section.login-wrapper label a {
    font-weight: 400;
    display: block;
    text-align: left;
	color:#636e7b;
}
section.login-wrapper img {
    margin: 20px auto;
}
/*-------------------Inner page Start-----------------------*/
.inner-banner{
background-size:cover !important;
background-position:center !important;
padding:7% 0;
position:relative;
text-align:center;
color:#ffffff;
margin:0;
}
.inner-banner .caption{
position:relative;
}
.inner-banner h2{
color:#ffffff;
font-weight:400;
display: block;
 margin-bottom: 25px;
}
.inner-banner p{
color:#ffffff;
font-weight:300;
display: block;
font-size:20px;
margin-top:15px;
}
.inner-banner p span{
color:#da0833;
}
.inner-banner:before{
content:"";
display:block;
top:0;
bottom:0;
left:0;
right:0;
position:absolute;
background:rgba(12,20,25,0.7);
}

/*------------------footer design-------------------------*/
footer{
background:#242c36;
padding:60px 0 0 0;
}
.copy-right{
background:rgba(10,10,10,0.2);
padding:12px 0;
text-align:center;
margin-top:50px;
}
.copy-right a{
color:#da0833;
}
footer img{
margin-bottom:20px;
}
footer h4{
color:rgba(255,255,255,0.7);
text-transform:uppercase;
font-size:20px;
font-weight:400;
}
footer ul{
margin:0;
padding:0;
}
footer ul li{
list-style:none;
}
footer ul li a{
color:#636e7b;
line-height:2;
}
footer ul li a:hover{
color:#da0833;
}
footer address ul li{
margin-bottom:10px;
line-height:1.8;
}
footer .form-control {
    border: 1px solid #3f4a58;
    margin-bottom:7px;
    border-radius: 2px;
    box-shadow: none;
    color: #8796a9;
    height: 45px;
	font-size:14px;
    background: #333d4a;
}
footer textarea.form-control{
height:70px;
}
footer button.btn.btn-primary {
    border-radius: 2px;
    min-width: 120px;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    background: #da0833;
    border: 1px solid #da0833;
}
footer .form-control::-moz-placeholder{color:#8796a9;opacity:1}
footer .form-control:-ms-input-placeholder{color:#8796a9}
footer .form-control::-webkit-input-placeholder{color:#8796a9}
/*---------------------------responsive start-----------------------*/
@media only screen and (max-width: 767px){
.social li{
width:100%;
}
.main-banner select {
    margin-bottom: 10px;
}
.company-content p span {
    display: block;
}
.input-group {
    width: 100%;
    display: block;
}
.newsletter button.btn.btn-default {
    margin: 5px 0;
    width: 100%;
    height: 42px;
    border-radius: 2px;
}
.input-group-addon, .input-group-btn {
display: table;
width: 100%;
margin: 0;
padding: 0;
}
.inner-banner h2{
margin-bottom:2px;
}
.inner-banner p {
    margin-top: 2px;
}
.basic-information p {
    font-size: 14px;
    line-height: 1.9;
}
}

@media only screen and (min-width: 768px){

.main-banner h2{
font-size:82px;
}
.inner-banner h2{
font-size:82px;
}
.social li{
width:20%;
}
.newsletter button.btn.btn-default, .newsletter input.form-control {
    height: 60px;
	padding: 0 20px;
}
}
